nav {
    font-family: 'Times New Roman', Times, serif
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

footer {
    background-color: #fab3e5;
}
      .carousel-inner img {
    max-height: 240px;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
  }

      .btn-custom {
      background-color: #f8a4d8;
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
      background-color: #d94fa3;
      color: white;
    }

    body {
      font-family: 'Poppins', sans-serif;
    }

.navbar-brand {
      font-family: 'Dancing Script', cursive;
      font-weight: 600;
    }
